*{
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 65px 200px;
  overflow: hidden;
}

#toolBar {
  background-color: red;
}

#stage {
  background-color: yellow;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: pink;
}

#layerPanel {
  background-color: greenyellow;
}
